In [ ]:
total = 0
import random
import pymysql
print("★★★★★★★★★★★★★★★★★★★\n 안녕하세요! 맛있는 음식을 주문하세요 \n★★★★★★★★★★★★★★★★★★★")

    
while True:

    

    conn = pymysql.connect(
        host='localhost',
        port=3306,
        user='root',
        passwd='root',
        db='master'
    )
    conn


    order = int(input('\n주문하시려면 1, 추천받으시려면 2 :  '))

    if order == 1:


        sql = "select distinct kind from restaurant"
        cursor = conn.cursor()
        cursor.execute(sql)
        print('\n-------------------종류를 선택하세요-------------------')

        for restaurant in cursor:
            co = list(restaurant)
            print(co[0])

        S_kind = input('\n어떤 것을 드시겠습니까 : ')
        print('\n-------------------------------------------------------')
        sql1 = "select name from restaurant where kind = '"+S_kind+"'"

        cursor = conn.cursor()
        cursor.execute(sql1)

        for restaurant in cursor:
            bo = list(restaurant)
            print(bo[0])


        C_kind = input('\n--------------원하는 가게명을 적어주세요---------------\n')

        sql2 = "select price from restaurant where name like '"+C_kind+"'"
        cursor = conn.cursor()
        cursor.execute(sql2)
        a = cursor.fetchone()
        b = list(a)

        
        total += b[0]
        print(f'주문하신 메뉴는 <<<{C_kind}>>>입니다.\n가격 : {a}원\n총액 : {total}\n주문이 완료되었습니다. ^^')
        reorder = input('추가로 주문하시겠습니까?  (y/n)')
        if reorder == 'y':
            continue
        else:
            print('주문해주셔서 감사합니다 ^^')
            break
            
            
    elif order == 2:
            
        
            
        sql3 = "select * from menu"
        cursor = conn.cursor()
        cursor.execute(sql3)
        result = cursor.fetchall()

        a = random.randint(0, 21)
        print("★★★★★★★★★★★★★★★★★★★\n          오늘의 추천메뉴는! \n★★★★★★★★★★★★★★★★★★★")
        print(f'식당명 : {result[a][0]}\n메뉴 : {result[a][1]}\n평점 : {result[a][2]}')

★★★★★★★★★★★★★★★★★★★
 안녕하세요! 맛있는 음식을 주문하세요
★★★★★★★★★★★★★★★★★★★

주문하시려면 1, 추천받으시려면 2 :  1

-------------------종류를 선택하세요-------------------
korea
china
west
japan

어떤 것을 드시겠습니까 : korea

-------------------------------------------------------
곰작골나주곰탕
엽기떡볶이

--------------원하는 가게명을 적어주세요---------------
곰작골나주곰탕
주문하신 메뉴는 <<<곰작골나주곰탕>>>입니다.
가격 : (10000,)원
총액 : 10000
주문이 완료되었습니다. ^^

In [6]:
sql3 = "select * from menu"
cursor = conn.cursor()
cursor.execute(sql3)
result = cursor.fetchall()
print(len(result))
a = 1
result[a]

20

('용손짜장', '군만두', 5)